body{
    background-color: cadetblue;
}


input {
  font: inherit;
  padding: 8px;
  width: 520px;
  margin-bottom: 16px;
margin-top: 16px;
  border-radius:50px;
  border-color: transparent;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
  outline: transparent;
}   

.search-form > button{
  height: 40px;
}
.search-form{

    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery{
  
}

.btn-load-more .is-hidden {
  display: none;
} 