body{
    background-color: cadetblue;
}


input {
  font: inherit;
  padding: 8px;
  width: 520px;
  margin-bottom: 16px;
margin-top: 16px;
  border-radius:50px;
  border-color: transparent;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
  outline: transparent;
}   

.search-form > button{
  height: 40px;
}
.search-form{

    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery{
display: flex;
flex-wrap: wrap;
margin: -15px;
justify-content: center;
}

.is-hidden {
  display: none;
} 

.photo-card{
  width: 340px;
  height: 300px;
  margin: 15px;
}
img{
  width: 340px;
  height: 240px;
}
.info{
  display: flex;
  width: 270px;
}

.info-item{
  display: flex;
  flex-wrap: wrap;
}

  .wrap{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
      flex-wrap: wrap;
      justify-content: center;
    
  }